build_info.txt
## python specific
*.pyc
venv
## env ignore
.env
##idea
.idea
#terraform
*.tfstate
*.tfstate.backup
gitlab-ci/metadata
*terraform.lock.hcl
gitlab-ci/.terraform
gitlab-ci/terraform.tfvars
